html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  
}







header .links a {
  
  font-size: 30px;
  color: rgb(0, 0, 0);
  padding: 10px;
  
}

.fist{
  display: flex;
  align-items: center;
  border-bottom: 2px solid black;
  
}
.fist .name {
  width: 50%;
  height: 100%;
}

.fist .desc {

  width: 50%;
  height: 100%;

}
.name img {
width: 100%;
height: 100%;
border-radius: 20px;
}

.desc {
 
  padding: 1em;
  font-size: 2vw;
  color: rgb(0, 0, 0);
text-align: initial;
  
}

h1 {
  color: rgb(0, 0, 0);
  font-size: 5vw;
  margin-top: 0;
}

h6 {
  color: rgb(0, 0, 0);
  font-size: 2vw;
  margin-bottom: 0;
}



body {
  
 
  display: flex;
  flex-direction: column;
  
  padding: 0;
  margin: 0;
  font-family: "Edu NSW ACT Foundation", cursive;
  
}




#rooms {
  margin-top: 5em;
 display: flex;
 flex-direction: column;
 align-items: center;
}


/* about */

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column-reverse;
  margin-top: auto;
 
 
  color: rgb(0, 0, 0);
  padding-top: 20px;
}


.mapContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}


 .mapContainer .map {
  width: 100%;
  height: 500px;

}


.contacts {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  font-size: 2vw;
  font-family: monospace;
  font-style: italic;
 
  
}

.contacts p {
  margin-bottom: 3px;
}

.contacts a {
  text-decoration: none;
  color:rgb(55, 0, 255) 
}

@media (max-width: 1472px) {

 
  
}

@media (max-width: 827px) {
 
  

 
}

@media (max-width: 497px) {
  .contacts {
    
    display: flex;
    font-size: 20px;
  }

  header .links a {
    font-size: 12px;
    padding: 3px;
  }
  .fist{ 
    flex-direction: column;
  }

  .fist .name {
    width: 100%;
  }
 .fist .desc {
    width: 100%;
  }
}
