html {
  scroll-behavior: smooth;
  margin: 0;
  padding: 0;
  
}


header {
  position: relative;
  display: flex;
  height: 100vh;
  background-image: url(фон2.jpg);
  background-size: cover;
}



header .links {
  position: absolute;
  top: 10%;
  left: 5%;
}

header .links a {
  
  font-size: 30px;
  color: aliceblue;
  padding: 10px;
  
}

header .name {
  position: absolute;
  right: 10%;
  top: 0%;
}

.desc {
  position: absolute;
  bottom: 20%;
  left: 5%;
  width: 40%;
  font-size: 30px;
  color: rgb(255, 255, 255);
  background: transparent;
  backdrop-filter: blur(20px);
 
  padding: 5px;
  border-radius: 20px;
  text-align: center;
}
h1 {
  color: aliceblue;
  font-size: 100px;
  margin-top: 0;
}

h6 {
  color: aliceblue;
  font-size: 40px;
  margin-bottom: 0;
}



body {
  
 
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0;
  font-family: "Edu NSW ACT Foundation", cursive;
  
}




#rooms {
  margin-top: 5em;
 display: flex;
 flex-direction: column;
 align-items: center;
}


/* about */

footer {
  display: flex;
  justify-content: center;
  margin-top: auto;
  height: 100%;
  width: 100%;
  color: rgb(0, 0, 0);
  padding-top: 20px;
}



footer .map {
  width: 500px;
  height: 500px;

  margin-left: 2em;
  margin-bottom: 2em;
}


.contacts {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2vw;
  font-family: monospace;
  font-style: italic;
  margin-left: 1em;
  
}

.contacts p {
  margin-bottom: 3px;
}

.contacts a {
  text-decoration: none;
  color:rgb(55, 0, 255) 
}

@media (max-width: 1472px) {

  footer .map {
    width: 400px;
    height: 400px;
    background-color: #333;
  }
  
}

@media (max-width: 827px) {
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10em;
    height: 20vw;
    width: 100%;
    
  }
  
  footer .map {
    width: 300px;
    height: 300px;
    background-color: #333;
  }
  .contacts {
    display: flex;
  }
}

@media (max-width: 497px) {
  
  footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 10em;
    width: 100%;
    
  }
  
  footer .map {
    width: 200px;
    height: 200px;
    background-color: #333;
  }
  .contacts {
    
    display: flex;
    font-size: 20px;
  }

  header {
    height: 20vh;
  }
  header .links a {
    font-size: 12px;
    padding: 3px;
  }

  .desc {
    width: 80%;
    font-size: 10px;
    font-style: italic;
  }

  h1 {
    font-size: 20px;
  }

  h6 {
    font-size: 10px;
  }
  
  header textarea {
    height: 40px;
  }

}
